.ProjectItem {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.rect {
  width: 95%;
  height: 350px;
  padding: 4px;
  position: relative;
  
  border: 2px solid #ddd;
  border-radius: 5px;
}

.rect:hover {
  border: 2px solid #ddd;  
  box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}

.ProjectItem-title {
  width: calc(100% - 8px);  
  position: absolute;
  padding: 10px;
  text-align: center;

  background: rgba(15, 15, 15, .95);
  color: white;
}

.ProjectItem button {
  cursor: pointer;
}

.ProjectItem img {
  margin-top: 45px;
  display: flex;
  max-width: 100%;
  box-shadow: 0 4px 30px #0f0f0f;
}

.ProjectItem-description {
  width: calc(100% - 8px); 
  position: absolute;
  bottom: 0px;
  padding: 15px;

  color: white;
  background: rgba(15, 15, 15, .95);
}

.ProjectItem-links {
  display: flex;
  justify-content: space-between;
}

.ProjectItem-description-link {
  display: inline-block;
  margin: 10px 0 0 0;

  font-family: Montserrat;
  font-size: 1.1rem;
  color: #08f;
  border: none;
  background: none;
}

.ProjectItem-description a {
  text-decoration: none;
  font-size: 1rem;
}

.ProjectItem-description a:hover, 
.ProjectItem-description button:hover {
  color: #0bf;
}

@media only screen and (max-width: 767px) {
  .rect {
    width: 100%;
  }
}


@media only screen and (min-width: 768px) {
  .rect {
    height: 600px;
  }

  .ProjectItem {
    width: 100%;
    font-size: 1.6rem;    
  }

  .ProjectItem-title {
    padding: 15px 0;
  }

  .ProjectItem-links {
    margin-top: 10px;
  }

  .ProjectItem-links button {
    font-size: 2rem;
  }

  .ProjectItem-links a {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
  }

  .ProjectItem-description {
    padding: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .ProjectItem {
    width: 70%;    
  }
}

@media only screen and (min-width: 1200px) {
  .rect {
    height: 500px;
  }

  .ProjectItem {
    width: 50%;
    font-size: 1.2rem;
  }

  .ProjectItem-title {
    padding: 15px 0;
  }

  .ProjectItem-links {
    margin-top: 10px;
  }

  .ProjectItem-links button {
    font-size: 1.3rem;
  }

  .ProjectItem-links a {
    font-size: 1.1rem;
  }

  .ProjectItem-description {
    padding: 20px;
  }
}