.Skills {
  font-family: Montserrat;

  padding-top: 1px;
  padding-bottom: 100px;
}

.Skills-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  padding: 60px 0;

  color: #fff;
  background: linear-gradient(to right, #dcdcdc, #bfbfbf);
  border-radius: 5px;
}

.Skills-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Skills-item:not(:last-child) {
  margin-bottom: 40px;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 1.3rem;
  text-shadow: 1px 0 #1f1f1f, -1px 0 #1f1f1f, 0 -1px #1f1f1f, 0 1px #1f1f1f;
}

.circle h4 {
  margin-bottom: 10px;
}

.html {
  background: linear-gradient(to right, #FF4500, #FF8C00);
  border: 1px solid #ff4500;
}

.css {
  background: linear-gradient(to right, #0074D9, #00D0D9);
  border: 1px solid #007ffa;  
}

.javascript {
  background: linear-gradient(to right, #D0B401, #FFE01D);
  border: 1px solid #C0A601;    
}

.react {
  background: linear-gradient(to right, #1e90ff, #63b0fb);
  border: 1px solid #2f2f2f;
}

@media only screen and (min-width: 768px) {
  .Skills-item {
    width: 50%;
  }

  .circle {
    width: 250px;
    height: 250px
  }

  .Skills-item:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 991px) {
  .circle {
    font-size: 1.8rem;
  }

  .circle h4 {
    font-size: 1.8rem;    
  }
}

@media only screen and (min-width: 1200px) {
  .Skills-items {
    padding: 180px 60px;
  }

  .Skills-item {
    width: 25%;
    margin: 0 !important;
  }
}