.Logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-family: fantasy;
  position: relative;
  left: -10px;
}

.logo-img {
  width: 60px;
}

.last-name {
  color: dodgerblue;
}

@media only screen and (max-width: 400px) {
  .Logo span {
    display: none;
  } 
}