.Logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-family: fantasy;
  
  position: relative;

  transition: .22s all ease-in-out;
}

.logo-img {
  max-width: 60px;
}

.last-name {
  color: dodgerblue;
}

@media only screen and (min-width: 991px) {
  .Logo {
    left: 5%;
  }
}

@media only screen and (max-width: 1600px) {
  .Logo span {
    display: none;
  }
}
