.SectionHeader {
  width: 100%;
  margin: 100px 0 40px 0;
  text-align: center;
}

.SectionHeader h3 {
  display: inline;
  font-family: Montserrat;
  font-size: 1.5rem;  
}

.SectionHeader p {
  margin-top: 40px;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .SectionHeader h3 {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 991px) {
  .SectionHeader {
    margin-bottom: 50px;
  }

  .SectionHeader h3 {
    font-size: 2.6rem;
  }
}

@media only screen and (min-width: 1200px) {
  .SectionHeader {
    margin-bottom: 50px;
  }

  .SectionHeader h3 {
    font-size: 2.2rem;
  }
}