.Footer {
  background: #3f3f3f;
  color: #fff;
  box-shadow: 0 0 6px 3px #000;
  padding: 20px;
  font-size: .9rem;
}

.Footer div {
  display: flex;
}

.Footer div svg {
  margin-right: 10px;
}

.Footer a {
  color: #fff;
}

.Footer a:hover {
  color: #0086FA;
}

.Footer div:not(:last-of-type) {
  margin-bottom: 30px;
}

.codewars-icon {
  font-size: .5rem;
}

@media only screen and (min-width: 767px) {
  .Footer {
    font-size: 1.2rem;
    padding: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .Footer {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .Footer {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
  }
}